@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
/* font-family: 'Signika Negative', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
/* font-family: 'Freehand', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
/* font-family: 'Fasthand', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* font-family: 'Quicksand', sans-serif; */
/* up==>> light font */
@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
/* font-family: 'Tajawal', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* font-family: 'Dancing Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');
/* font-family: 'Agdasima', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* font-family: 'Montserrat', sans-serif; */
*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}
html , body{
   height: 100%;
   width: 100vw;
   overflow-x: hidden;
   background-color: rgb(15, 55, 198);
}
/*=============== nav =================== */
#nav{
   position: absolute;
   z-index: 1;
   width: 99vw;
   height: 10vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 10;
   /* background-color: aqua; */
}
#nav>div{
   position: relative;
}
#nav>.logo{
   width: 15%;
   height: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-left: 2%;
   margin-top: 2%;
   position: relative;
   opacity: 0;
}
#nav>.logo>svg{
   width: 100%;
   height: 100%;
   stroke: white;
   stroke-width: 0.9px;
   stroke-dasharray: 100;
   stroke-dashoffset: 1500;
   animation:  nav_anim 30s 0.5s linear infinite alternate;
   -webkit-animation:  nav_anim 30s 0.5s linear infinite alternate;
} 
@keyframes nav_anim {
   0%{
      stroke-dasharray: 100;
      stroke-dashoffset: 1500;
   }
   100%{
      stroke-dasharray: 100;
      stroke-dashoffset: 400;
   }
}

#nav>.nav_but{
   height: 100%; 
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}
#nav>.nav_but>button{
   border: 0.7px solid #7a6ffb;
   border-radius: 50px;
   position: relative;
   margin-left: 10px;
   background-color: transparent;
   overflow: hidden;
}
#nav>.nav_but>.but1{
   /* change for size for but1 */
   padding: 0.7vw 1vw;
}
/* ==== nav button 1(Book a demo) ======  */
#nav>.nav_but>.but1>div{
   font-family: 'Quicksand', sans-serif;
   color: white;
   font-weight: 400;
   /* change font-size on responsive */
   font-size: 10px;
   position: relative;
   z-index: 1000000000;
   overflow: visible;
}

#nav>.nav_but>.but1::after{
   content: "";
   position: absolute;
   top:100%;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 50px;
   background-color: white;
   transition: top 0.3s 0.2s ease-in-out;
   z-index: 1;
   -webkit-transition: top 0.3s 0.2s ease-in-out;
   -moz-transition: top 0.3s 0.2s ease-in-out;
   -ms-transition: top 0.3s 0.2s ease-in-out;
   -o-transition: top 0.3s 0.2s ease-in-out;
}
#nav>.nav_but>.but1:hover::after{
   top: 0;
}

/*====== ======nav button1(sidebar opener ) ============ */
.nav_but>.but2{
   position:relative; 
   /* change for size for but1 */
   width: 55px;
   height: 30px;
}
.nav_but>.but2::before{
   /* nav inside strick code */
   content: '';
   position: absolute;
   width: 35%;
   height:0.6px;
   top:35%;
   left: 35%;
   transform: var(--page1_but_before, rotateZ(0deg));
   background-color: #FAFAFA;
   transform-origin: top left;
   transition: transform 0.25s ease-out;
   -webkit-transform: var(--page1_but_before, rotateZ(0deg));
   -moz-transform: var(--page1_but_before, rotateZ(0deg));
   -ms-transform: var(--page1_but_before, rotateZ(0deg));
   -o-transform: var(--page1_but_before, rotateZ(0deg));
}
.nav_but>.but2::after{
   /* nav inside strick code */
   content: '';
   position: absolute;
   width: 35%;
   height:0.6px;
   top:65%;
   left: 35%;
   transform:  var(--page1_but_after, rotateZ(0deg));
   background-color: #FAFAFA;
   transform-origin: top left;
   transition: transform 0.25s ease-out;
}
@media (min-width: 721px) and (max-width: 1080px){
   #nav>.nav_but>.but1{
      padding: 10px 10px ;
   }
   #nav>.nav_but>.but1>div{
      font-size: 10px;
   }
}

@media (min-width:481px) and (max-width:720px){
   #nav>.nav_but>.but1{
      padding: 8px 10px ;
   }
   #nav>.nav_but>.but1>div{
      font-size: 10px;
   }
   #nav{
      width: 98.4vw;
   }
   #nav>.logo{
      width: 22%;
   }
}
@media screen and (max-width:480px){
   #nav>.nav_but>.but1{
      padding: 8px 10px ;
   }
   #nav>.nav_but>.but1>div{
      font-size: 10px;
   }
   #nav{
      width: 97vw;
   }
   #nav>.logo{
      width: 30%;
   }
}

/* ============== sidebar ============== */
#sidebar{
   width: 45vw;
   height: 100vh;
   position: absolute;
   z-index: 1;
   background-color: #FFFFFF;
   overflow: hidden;
   display: none;
   right: -45vw;
}

#sidebar>.sidebar_content{
   position: relative;
   width: 100%;
   height: 100vh;
   padding-top:15vh ;
   padding-left: 5vw;
   padding-bottom: 5vh;
   display: flex;
   justify-content: space-between;
   align-items:flex-start;
   flex-direction: column;
}
#sidebar>.sidebar_content>.sidebar_top{
   padding-right: 10%;
   width: 90%;
   height: 80%;
}
#sidebar>.sidebar_content>.sidebar_top>div{
   margin: 20px  0px;
}
#sidebar>.sidebar_content>.sidebar_top>div>a{
   color: black;
   font-family: 'Quicksand', sans-serif; 
   font-size: 50px;
   text-decoration: none;
}
#sidebar>.sidebar_content>.sidebar_bottom{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-bottom: 20px;
}
#sidebar>.sidebar_content>.sidebar_bottom>div{
   margin-right: 30px;
}
#sidebar>.sidebar_content>.sidebar_bottom>div>a{
   color: black;
   font-family: 'Quicksand', sans-serif; 
   font-size: 20px;
   text-decoration: none;
   overflow: hidden;
   position: relative;
   z-index: 100;
}
#sidebar>.sidebar_content>.sidebar_bottom>div>a::after{
   content:' ';
   position: absolute;
   height: 0.5px;
   width: 100%;
   left:0;
   top: 100%;
   background-color: black;
   overflow: hidden;
   transform: scaleX(0);
   transform-origin: center center;
   transition: transform 0.3s 0s linear;
}
#sidebar>.sidebar_content>.sidebar_bottom>div>a:hover::after{
   transform: scaleX(1);
}

@media screen and (max-width: 860px){
   #sidebar{
      width: 100vw;
      right: -100vw;
      overflow: hidden;
   }
}

/*========  logo inside main (replica of anv logo) ========== */
.main_logo{
   position: absolute;
   width: 100vw;
   height: 10vh;
   z-index: 1;
   padding-top: 10px;
   padding-left: 5vw;
}
.main_logo>svg{
   width: 15%;
   height: 100%;
   stroke: white;
   stroke-width: 0.9px;
   stroke-dasharray: 100;
   stroke-dashoffset: 1500;
   animation:  nav_anim 30s 0.5s linear infinite alternate;
   -webkit-animation:  main_anim 30s 0.5s linear infinite alternate;
} 
@keyframes main_anim {
   0%{
      stroke-dasharray: 100;
      stroke-dashoffset: 1500;
   }
   100%{
      stroke-dasharray: 100;
      stroke-dashoffset: 400;
   }
}
@media (min-width:721px) and (max-width: 1020px){
   .main_logo{
      height: 8vh;
      padding-top: 10px;
      padding-left: 5vw;
   }
   .main_logo>svg{
      width: 20%;
   } 
}
@media (min-width:481px) and (max-width: 720px){
   .main_logo{
      height: 7vh;
      padding-top: 10px;
   }
   .main_logo>svg{
      width: 25%;
   } 
}
@media screen and (max-width: 480px){
   .main_logo{
      height: 7vh;
      padding-top: 10px;
   }
   .main_logo>svg{
      width: 33%;
   } 
}
/*=============== page1 ================= */
#page1{
   position: relative;
   width: 100vw;
   height: 100vh;
}
#page1>video{
   width: 100vw;
   height: 100vh;
   object-fit: cover;
}
#page1>div{
   position: absolute;
   height: 100vh;
   top: 0;
   display: flex;
   justify-content: flex-start;
   align-items: flex-end;
   padding-left:8vw;
   padding-bottom: 6vw;
}
#page1>div>div>h1{
   font-family: 'Quicksand', sans-serif;
   color: white;
   font-weight: 100;
   font-size: 6vw;
}
#page1>div>div>div{
   position: relative;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-top: 7vh;
}
#page1>div>div>div>h3{
   font-family: 'Quicksand', sans-serif;
   color: white;
   font-weight: 100;
   font-size: 1.2vw;
   padding-right: 5vw;
}
#page1>div>div>div>button{
   position: relative;
   padding: 0.8vw 2.5vw;
   border-radius:50px;
   border:0.7px solid rgb(9, 67, 227);
   overflow: hidden;
}
#page1>div>div>div>button>div{
   font-family: 'Quicksand', sans-serif;
   color: rgb(9, 67, 227);
   font-weight: 100;
   font-size: 1vw;
   position: relative;
   z-index: 10000000;
   /* overflow: visible; */
}
#page1>div>div>div>button::after{
   content: "";
   position: absolute;
   top:100%;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 50px;
   background-color: rgb(15, 15, 23);
   transition: top 0.3s 0.2s ease-in-out;
   -webkit-transition: top 0.3s 0.2s ease-in-out;
   -moz-transition: top 0.3s 0.2s ease-in-out;
   -ms-transition: top 0.3s 0.2s ease-in-out;
   -o-transition: top 0.3s 0.2s ease-in-out;
}
#page1>div>div>div>button:hover::after{
   top: 0;
}
@media (min-width: 721px) and (max-width:1080px){
   #page1>div>div>h1{
      font-size: 8vw;
   }
   #page1>div>div>div>h3{
      font-size: 2.3vw;
   }
   #page1>div>div>div>button{
      padding: 1.7 vw 3vw;
   }
   #page1>div>div>div>button>div{
      font-size: 1.8vw;
   }
}
@media (min-width:421px) and (max-width:720px){
   #page1>div{
      align-items: center;
   }
   #page1>div>div>h1{
      font-size: 11vw;
   }
   #page1>div>div>div{
      padding-top:3vh;
   }
   #page1>div>div>div>h3{
      font-size: 3.1vw;
   }
   #page1>div>div>div>button{
      padding: 2.3vw 4vw;
   }
   #page1>div>div>div>button>div{
      font-size: 2.3vw;
   }
}
@media screen and (max-width:420px){
   #page1>div{
      align-items: center;
   }
   #page1>div>div>h1{
      font-size: 13vw;
   }
   #page1>div>div>div{
      display: block;
      padding-top: 3vh;
   }
   #page1>div>div>div>h3{
      font-size: 3.9vw;
   }
   #page1>div>div>div>button{
      margin-top: 3vw;
      padding: 3vw 5vw;
   }
   #page1>div>div>div>button>div{
      font-size: 3vw;
   }
}

/* ======================  page2 ======================= */
#page2{
   width: 100vw;
   height: 100vh;
   position: relative;
   background-color: rgb(10, 60, 206);
   padding: 5vw 7vw;
   font-family: 'Quicksand', sans-serif;
   color: white;
}
#page2>h3{
   font-weight: 700;
   font-size: 15px;
   padding: 10vh 0px
}
#page2>h1{
   width: 100%;
   height: 100%;
   font-weight: 500;
   font-size: 50px;
   line-height: 1.5;
}
#page2>h1>span{
   opacity: 0.5;
}

@media screen and (max-width: 720px){
   #page2>h1{
      font-size: 30px;
   }
}
/* ================== page3 =========================== */
#page3{
   width: 100vw;
   position: relative;
   height: 100vh;
}
#page3>canvas{
   width: 100vw;
   height: 100vh;
   position: relative;
}

/* ================== page4 ============================ */
#page4{
   width: 100vw;
   height: 100vh;
   position: relative;
   background-color: rgb(15, 55, 198);
   padding: 5vh 7vw;
   font-family: 'Quicksand', sans-serif;
   color: white;
}
#page4>h3{
   font-weight: 700;
   font-size: 15px;
   /* padding: 5vh 0px; */
   padding-top: 10vh;
   padding-bottom: 5vh;
}
#page4>h1{
   width: 100%;
   height: 100%;
   font-weight: 500;
   font-size: 40px;
   line-height: 1.5;
}
#page4>h1>span{
   opacity: 0.5;
}

@media (min-width:550px) and (max-width: 790px){
   #page4>h1{
      font-size: 30px;
   }
}
@media screen and (max-width: 549px){
   #page4>h3{
      font-size: 13px;
   }
   #page4>h1{
      font-size: 23px;
   }
}
/* ========================= page5 ====================== */
#page5{
   width: 100vw;
   position: relative;
   height: 100vh;
} 
#page5>canvas{
   width: 100vw;
   height: 100vh;
   position: relative;
}

/* ================= page6 =============================*/

#page6{
   width: 100vw;
   height: 100vh;
   position: relative;
   background-color: rgb(15, 55, 198);
   padding: 5vh 7vw;
   font-family: 'Quicksand', sans-serif;
   color: white;
}
#page6>h3{
   font-weight: 700;
   font-size: 15px;
   /* padding: 5vh 0px; */
   padding-top: 10vh;
   padding-bottom: 5vh;
}
#page6>h1{
   width: 100%;
   height: 100%;
   font-weight: 500;
   font-size: 40px;
   line-height: 1.5;
}
#page6>h1>span{
   opacity: 0.5;
}

@media (min-width:550px) and (max-width: 790px){
   #page6>h1{
      font-size: 30px;
   }
}
@media screen and (max-width: 549px){
   #page6>h3{
      font-size: 13px;
   }
   #page6>h1{
      font-size: 23px;
   }
}
/* =================== page7 =========================== */
#page7{
   max-width: 100vw;
   height:100vh;
   position: relative;
}
#page7>canvas{
   max-width: 100vw;
   height:100vh;
   position: relative;
}
#page7>.page7_cir{
   width: 22vw;
   height: 22vw;
   border-radius: 50%;
   position: absolute;
   z-index: 9;
   display: flex;
   align-items: center;
   justify-content: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   border: 0.4px solid rgba(255,255,255,0.1);
   backdrop-filter: blur(1px);
}
#page7>.page7_cir>.page7_cir_inner{
   position: absolute;
   background-color: transparent;
   z-index: 20;
   height: 70%;
   width: 70%;
   border-radius: 50%;
   border: 1px solid #fff;
}



/* ============== page 8 ============================= */
#page8{
   width: 100vw;
   position: relative;
   height: 100vh;
   background-color: rgb(242, 0, 255);
} 
#page9{
   width: 100vw;
   position: relative;
   height: 100vh;
   background-color: rgb(255, 0, 0);
} 
#page10{
   width: 100vw;
   position: relative;
   height: 100vh;
   background-color: rgb(0, 179, 255);
} 
#page11{
   width: 100vw;
   position: relative;
   height: 100vh;
   background-color: rgb(0, 26, 255);
} 
#page12{
   width: 100vw;
   position: relative;
   height: 100vh;
   background-color: rgb(110, 110, 55);
} 
#page3{
   width: 100vw;
   position: relative;
   height: 100vh;
   background-color: rgb(0, 255, 0);
} 
#page14{
   width: 100vw;
   position: relative;
   height: 100vh;
   background-color: yellow;
} 
