@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
/* font-family: 'Signika Negative', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
/* font-family: 'Freehand', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
/* font-family: 'Fasthand', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* font-family: 'Quicksand', sans-serif; */
/* up==>> light font */
@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
/* font-family: 'Tajawal', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* font-family: 'Dancing Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');
/* font-family: 'Agdasima', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* font-family: 'Montserrat', sans-serif; */

*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}
html , body{
   height: 100%;
   width: 100%;
}
#main{
   position: relative;
   overflow: hidden;
   background-color:rgb(10, 60, 206) ;
}
#page1{
   height: 100vh;
   width: 100vw;
   /* background-color: red; */
}
#page1>video{
   height: 100% ;
   width: 100%;
   object-fit: cover;
}
#page1 > nav{
   display: flex;
   justify-content: space-between;
   align-items:center;
   padding: 0px 30px;
   position: absolute;
   width: 100vw;
   height: 10vh;
   /* background-color: yellow; */
}
#page1>nav>img{
   width: 10%;
   margin-top: -4vh;
}

#right_nav>button{
   padding: 10px 20px;
   border-radius: 50px;
   background-color: transparent;
   border: 1px solid #fff;
   color: white;
   font-family: 'Signika Negative', sans-serif;
   font-size: 15px;
}

#bottom_page1{
   position: absolute;
   bottom: 5%;
   height: 40vh;
   width: 50vw;
   left: 10vw;
   /* background-color: rgba(0,0,0,0.4); */
}
#bottom_page1>h1{
   font-family: 'Signika Negative', sans-serif;
   font-size: 6vw;
   font-weight: lighter;
   line-height:1 ;
   color: #fff;
   padding: 0px 30px;
}
.bottom-page1-inner{
   position: absolute;
   bottom: 0;
   height: 35%;
   width: 100%;
   /* background-color: aquamarine;  */
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 30px;
}
.bottom-page1-inner>h4{
   font-family: 'Signika Negative', sans-serif;
   color: #fff;
   font-size: 17px;
   font-weight: 300;
}
.bottom-page1-inner>button{
   padding: 10px 20px;
   border-width: none;
   border-radius: 50px;
   color: #0b47e9;
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   -ms-border-radius: 50px;
   -o-border-radius: 50px;
   background-color: white;
}

/*  ====================  page2 ======================== */

#page2{
   width: 100vw;
   height: 100vh;
   position: relative;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-family: 'Raleway', sans-serif;
   /* padding: 0vw 8vw; */
   color: #fff;
   background-color: #0a3cce;
}
#page2>h3{
   width: 80%;
   font-weight: 100;
}
#page2>h1{
   width: 80%;
   font-size: 3rem;
   font-weight: 100;
   line-height: 1.3;
}

#page2>h1>span{
   opacity: 0.5;
}


/*============= page3 ===================*/
#page3{
   max-width: 100vw;
   max-height: 100vh;
   position: relative;
   /* background-color: red; */
}
#page3>canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}

/* ========== page4 ==================*/

#page4{
   width: 100vw;
   height: 100vh;
   position: relative;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-family: 'Raleway', sans-serif;
   /* padding: 0vw 8vw; */
   color: #fff;
   background-color: rgb(13, 54, 197);
}
#page4>h3{
   width: 80%;
   font-weight: 100;
}
#page4>h1{
   width: 80%;
   font-size: 3rem;
   font-weight: 100;
   line-height: 1.3;
}

#page4>h1>span{
   opacity: 0.5;
}

/* ========== page5 ============ */
#page5{
   position: relative;
   width: 100vw;
   height: 100vh;
}
#page5>canvas{
   max-width: 100vw;
   max-height: 100vh;
   position: relative;
}
/* =========== page 6 ================ */
#page6{
   width: 100vw;
   height: 100vh;
   position: relative;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-family: 'Raleway', sans-serif;
   /* padding: 0vw 8vw; */
   color: #fff;
   background-color: rgb(13, 54, 197);
}
#page6>h3{
   width: 80%;
   font-weight: 100;
}
#page6>h1{
   width: 80%;
   font-size: 3rem;
   font-weight: 100;
   line-height: 1.3;
}

#page6>h1>span{
   opacity: 0.5;
}

/* ========== page 7 ================== */
#page7{
   max-width: 100vw;
   max-height:100vh;
   position: relative;
}
#page7>canvas{
   max-width: 100vw;
   max-height:100vh;
   position: relative;
}
#page7>.page7_cir{
   width: 22vw;
   height: 22vw;
   border-radius: 50%;
   position: absolute;
   z-index: 9;
   display: flex;
   align-items: center;
   justify-content: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   border: 0.4px solid rgba(255,255,255,0.1);
   backdrop-filter: blur(1px);
}
#page7>.page7_cir>.page7_cir_inner{
   position: absolute;
   background-color: transparent;
   z-index: 20;
   height: 70%;
   width: 70%;
   border-radius: 50%;
   border: 1px solid #fff;
}

/* ================= page 8 ========================= */
#page8{
   position: relative;
   width: 100vw;
   height: 100vh;
}

#page8>video{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

#page8>.page8_bottom{
   position: absolute;
   color: #fff;
   font-family: 'Dancing Script', cursive;
   font-size: 2rem;
   font-weight: 300;
   /* important */
   bottom: 15%;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
}

#page8>.page8_bottom>h1{
   padding: 30px 0px;
}

.page8_bottom>button{
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    color: #0a3cce;
}

/*=================== page 9 ======================== */

#page9{
   width: 100vw;
   height: 150vh;
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 4vh 5vh;
}
.left9{
   width: 30%;
   height: 100%;
   font-family: 'Playfair Display', serif; 
   color: white;
   font-size: 2.6vw;
   font-weight: 100;
   display: flex;
   justify-content: center;
   align-items: start;
   /* background-color: red; */
}
#page9>.left9>h1{
}

.right9_supreme{
   width: 70%;
   height: 100%;
   padding: 0px 5vw;
}
.right9_supreme>.right9_top{
   position: relative;
   width:100%;
   max-height:58vh;
   /* overflow: hidden; */
}
.right9_supreme>.right9_top>.right9_center{
   width: 90%;
   max-height:58vh;
   border-radius: 20px;
   object-fit:cover;
}
.right9_supreme>.right9_bottom{
   height: 90vh;
   width: 100%;
   background-color: transparent;
}
.right9_inner{
   display: flex;
   align-items: start;
   flex-direction: column;
   width: 100%;
   font-family: 'Quicksand', sans-serif;
   color: #fff;
   padding: 5vh 0vh;
}
.right9_inner>h1{
   font-size: 2vw;
}
.right9_inner>p{
   margin-top: 1vh;
   font-size: 1.2vw;
   width: 100%;
}
/* ===================== page10 ======================== */

#page10{
   width: 100vw;
   height: 230vh;
   position: relative;
   background-color: rgb(3, 38, 142);
}
#page10>.page10{
   width: 100vw;
   height: 200vh;
   padding: 6vh 6vw;
}
.page10>.page10_top{
   background-color: transparent;
   width: 94vw;
   height: 10vh;
}
.page10>.page10_top>h1{
   font-size: 4.5vw;
   color: white;
   font-family: 'Quicksand', sans-serif;
}
.page10>.page10_bottom{
   width: 94vw;
   height: 190vh;
   display: flex;
   align-items: flex-start;
}
.page10>.page10_bottom>.page10_left{
   width: 42vw;
   height: 180vh;
   border-left: 1px solid rgb(10, 60, 206);
   display: flex;
   flex-direction: column;
   padding: 5vh 2vh;
}
.page10>.page10_bottom>.page10_left>.page10_comm{
   position: relative;
   padding: 7vh 0vh;
   color: rgba(255,255,255,0.3);
}
.page10>.page10_bottom>.page10_left>.page10_comm>h1{
   font-family: 'Signika Negative', sans-serif;
   font-size: 3.7vw;
   font-weight: 100;
}
.page10>.page10_bottom>.page10_left>.page10_comm>h2{
   font-family: 'Signika Negative', sans-serif;
   font-size: 1.7vw;
   font-weight: 100;
}
#page10>.page10>.page10_bottom>.page10_right{
   width: 60vw;
   height: 230vh;
   position: relative;
}
#page10>.page10>.page10_bottom>.page10_right>canvas{
   width: 100%;
   height: 60vh;
   position: relative;
   /* margin-top: 100vh; */
}

/* ====== page 11 ============ */

#page11{
   width: 100vw;
   height: 140vh;
   position: relative;
   padding-top: 5vh;
   background-color: rgb(236, 242, 255);
}

#page11>h1{
   /* background-color: red; */
   font-family: 'Open Sans', sans-serif;
   font-weight: 100;
   font-size: 10vh;
   padding-top: 17vh;
   padding-bottom: 8vh;
   padding-left: 12vw;
   color: black;
}
#page11>.page11_inline{
   display: flex;
   position: relative;
   padding-left: 10vw;
   overflow-x: scroll;
   cursor: grab;
}

.page11_1, .page11_2 , .page11_3 , .page11_4 , .page11_5 , .page11_6{
   position: relative;
   padding: 2vh 1vw;
}
#page11>.page11_inline>div>.page11_img{
   width: 40vw;
   height: 25vw;
}
#page11>.page11_inline>div>.page11_img>img{
   position: relative;
   width: 100%;
   height: 100%;
   border-radius: 30px;
   object-fit: cover;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   -ms-border-radius: 30px;
   -o-border-radius: 30px;
}
#page11>.page11_inline>div>.page11_text{
   position: relative;
   padding: 1vw;
   font-family: 'Open Sans', sans-serif;
}
#page11>.page11_inline>div>.page11_text>h2{
   position: relative;
   padding: 1vw;
   color: black;
}
#page11>.page11_inline>div>.page11_text>ul{
   position: relative;
   padding: 1vw;
   color: black;
}

#page11>.page11_inline>div>.page11_text>ul{
   list-style: url("./pics/tick.svg");
}
#page11>.page11_inline::-webkit-scrollbar {
  height: 2px;
}
#page11>.page11_inline::-webkit-scrollbar-track {
  background-color: #eeeded;
  border-radius: 100px;
}

#page11>.page11_inline::-webkit-scrollbar-thumb {
  background-color: rgb(205, 206, 251);
  border-radius: 100px;
}

#page11>.page11_inline>.cursor_anim{
   position: absolute;
   display: unset;
   width: 5vw;
   height: 5vw;
   border-radius: 50px;
   background-color: aqua;
   transition-duration: 0.2s;
   z-index: 10;
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   -ms-border-radius: 50px;
   -o-border-radius: 50px;
}








